.logo-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: #7ed957;
    overflow: hidden;
    width: auto;
    height: auto;
    padding: 20px;
    margin-left: -800px;

}

.title {
    font-size: 6.5rem;
    font-weight: bold;
    margin-bottom: 50px;
    margin-left: 100px;
    position: relative;
    z-index: 10;
    letter-spacing: 2px;
    position: fixed;

}

.title .white-text {
    color: white;

}

.animation-area {
    position: fixed;
    width: 390px;
    height: 120px;
    display: flex;
    justify-content: center;
    margin-top: 210px;
    overflow: hidden;
    margin-left: 240px;


}

.cube {
    position: absolute;
    background-color: #7ed957;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgb(126, 217, 87);

}

.glowing-leaf-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}


.glowing-leaf-container img {
    width: 150px;
    height: auto;
    filter: drop-shadow(0px 0px 10px rgba(126, 217, 87, 0.3));
    animation: glowAnimation 2s infinite ease-in-out;

}

@keyframes glowAnimation {
    0% {
        filter: drop-shadow(0px 0px 10px rgba(126, 217, 87, 0.3));
    }

    50% {
        filter: drop-shadow(0px 0px 25px rgba(126, 217, 87, 0.5));
    }

    100% {
        filter: drop-shadow(0px 0px 10px rgba(126, 217, 87, 0.3));
    }

}